<h1>All Songs</h1>

<% @songs.each do |song| %>
  <ul>
    <%= link_to song.title, song_path(song) %>
  <li>Play Count: <%= song.play_count %></li>
  </ul>
  <%= button_to 'Add Song', carts_path(song_id: song.id) %>
<% end %>
